@font-face {
  font-family: 'bigillaregular';
  src: url('bigilla-webfont.woff2') format('woff2'),
       url('bigilla-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

body {
  /*cursor: none;*/
  background: #f6eee2;
}

::-webkit-scrollbar {
  transform: translateY(-10px);
  width: 0px;
}

.text {
  color: #1b1b1b;
  font-size: 660px;
  font-family: "bigillaregular";
  letter-spacing: 18px;
  zoom: 1.3;
}

.text-w {
  color: #1b1b1b;
  font-size: 660px;
  font-family: "bigillaregular";
  letter-spacing: -40px;
  zoom: 1.3;
}

.text-r {
  color: #1b1b1b;
  font-size: 660px;
  font-family: "bigillaregular";
  zoom: 1.3;
}

.text-k {
  color: #1b1b1b;
  font-size: 660px;
  font-family: "bigillaregular";
  letter-spacing: 40px;
  zoom: 1.3;
}


/** {
  overflow-y: hidden;
}*/


.wrap {
  width: 360vw;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 360vh) {
  .wrap {
    width: 600vh;
  }
}

.resume {
  margin: 0px auto;
}


.wrapper2 {
  position: relative;
  z-index: 0;
/*  width: 242vh;
  margin: 0px auto;*/
  margin-top: 10px;
}

.hire-me {
  position: relative;
  z-index: 5;
  width: 120vh;
  margin: 0px auto;
}


/*----image--------------------------------------------------*/


.projet-one {
  position: absolute;
  z-index: 1;
  height: 21%;
  display: flex;
  top: 158px;
  left: 188px;
}

.projet-two {
  position: absolute;
  z-index: 2;
  display: flex;
  top: 36%;
  left: 38%;
  height: 34%;
}

/*.projet-tree {
  position: absolute;
  z-index: 3;
  display: flex;
  top: 10%;
  left: 69.5%;
  height: 35%;
}*/

.projet-one .overlay {
  position: absolute;
  bottom: 0;
  background: #c1ccffcc;
  width: 40.5%;
  height: 90.3%;
  transition: .5s ease;
  opacity: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projet-one .overlay p{
  color: #1b1b1b;
  font-weight: bold;
  font-size: 50px;
}

.projet-one:hover .overlay {
  opacity: 1;
}

.projet-two .overlay {
  position: absolute;
  bottom: 0;
  background: #310401bf;
  width: 36.6%;
  height: 93.3%;
  transition: .5s ease;
  opacity: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projet-two .overlay p{
  color: #f6eee2;
  font-weight: bold;
  font-size: 50px;
}

.projet-two:hover .overlay {
  opacity: 1;
}

/*------------------------------------------------------*/
h1 {
  font-size: 150px;
  font-family: "bigillaregular";
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: left;
  margin: 20% 0px auto;
  color: #1b1b1b;
}

@media (max-width: 1080px) {
  h1 {
    min-width: 1080px;
    font-size: 100px;
  }
}

h2 {
  font-size: 40px;
  font-family: "bigillaregular";
  font-weight: 700;
  text-align: left;
  margin: 0px 0px 20px;
  color: #1b1b1b;
}

h3 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  text-align: left;
  margin: 0.5% 0px auto;
  color: #1b1b1b;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: "bigillaregular";
  letter-spacing: 1px;
  }
  h4:hover {
    color: #1b1b1b94;
}


p {
  font-size: 20px;
  text-decoration: none;
  font-family: "bigillaregular";
  text-align: left;
  color: #1b1b1b;
  }
  p:hover {
    color: #1b1b1b94;
}

a {
  font-size: 20px;
  text-decoration: none;
  font-family: "bigillaregular";
  text-align: left;
  color: #1b1b1b;
  }
  a:hover {
    color: #1b1b1b94;
}

/*--Contact anim----------------------------------------------*/


.bounce_button {
  position: absolute;
  line-height: 306px;
  color: #1b1b1b;
  font-size: 220px;
  font-family: "bigillaregular";
  transition: line-height .2s ease-out;
  padding-top: 48vh;
}


.bounce_button:hover {
  line-height: 180px;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1b1b1b;
  position: relative;
  right: 0px;
  left: 35px;
  top: 86%;
}


.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #1b1b1b;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #1b1b1b94;
}
.footer .fa-heart {
  color: #1b1b1b;
}


/*---circle---------------------------------------------------------*/


.scroll-circle {
  color: #1b1b1b;
  position: absolute;
  right: 40px;
  bottom: 10px;
}

.scroll-circle-2 {
  color: #1b1b1b;
  position: absolute;
  right: 0%;
  top: 0%;
}

.arrow {
  color: #1b1b1b;
  position: absolute;
 right: 32px;
 bottom: 40px;
}


.rotate {
  animation: rotation 12s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.circle {
  display: flex;
  justify-content: flex-end;
}

/*----------------------------------------------------------*/

