@font-face {
  font-family: 'bigillaregular';
  src: url('bigilla-webfont.woff2') format('woff2'),
       url('bigilla-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap');

body {
  /*cursor: none;*/
  background: #f6eee2;
}

::-webkit-scrollbar {
  transform: translateY(-10px);
  width: 0px;
}

.text {
  color: #1b1b1b;
  font-size: 660px;
  font-family: "bigillaregular";
  letter-spacing: 18px;
  zoom: 1.3;
}

/** {
  overflow-y: hidden;
}*/

h2 {
  font-size: 150px;
  font-family: "bigillaregular";
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: left;
  margin: 30% 0px auto;
}

@media (max-width: 1200px) {
  h2 {
    min-width: 1200px;
    font-size: 100px;
  }
}

.wrap {
  width: 360vw;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 360vh) {
  .wrap {
    width: 600vh;
  }
}

.resume {
  margin: 0px auto;
}


.wrapper2 {
  position: relative;
  z-index: 0;
  width: 242vh;
  margin: 0px auto;
  margin-top: 10px;
}

@media (max-width: 242vh) {
  .wrapper2 {
    min-width: 242vh;
  }
}

.hire-me {
  position: relative;
  z-index: 5;
  width: 120vh;
  margin: 0px auto;
}


/*----image--------------------------------------------------*/


.projet-one {
  position: absolute;
  z-index: 1;
  height: 20%;
  display: flex;
  top: 270px;
  left: 188px;
}

.projet-two {
  position: absolute;
  z-index: 2;
  display: flex;
  top: 44%;
  left: 40%;
  height: 30%;
}

/*.projet-tree {
  position: absolute;
  z-index: 3;
  display: flex;
  top: 10%;
  left: 69.5%;
  height: 35%;
}*/

.projet-one .overlay {
  position: absolute;
  bottom: 0;
  background: #c1ccffcc;
  width: 46.8%;
  height: 90.3%;
  transition: .5s ease;
  opacity: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projet-one .overlay p{
  color: #1b1b1b;
  font-weight: bold;
  font-size: 50px;
}

.projet-one:hover .overlay {
  opacity: 1;
}

.projet-two .overlay {
  position: absolute;
  bottom: 0;
  background: #310401bf;
  width: 39.3%;
  height: 94%;
  transition: .5s ease;
  opacity: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projet-two .overlay p{
  color: #f6eee2;
  font-weight: bold;
  font-size: 50px;
}

.projet-two:hover .overlay {
  opacity: 1;
}

/*------------------------------------------------------*/


time {
  font-size: 20px;
  font-family: "bigillaregular";
}


li {
  list-style-type: none;
  text-align: left;
  margin: 0px 0px 10px;
  font-family: 'lato';
  font-weight: 300,1;
}


p {
  font-size: 30px;
  font-family: "bigillaregular";
  text-align: left;
  margin: 10px 0px 20px;
}


/*--Contact anim----------------------------------------------*/


.bounce_button {
  position: absolute;
  line-height: 306px;
  color: #1b1b1b;
  font-size: 220px;
  font-family: "bigillaregular";
  transition: line-height .2s ease-out;
  padding-top: 48vh;
}


.bounce_button:hover {
  line-height: 180px;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1b1b1b;
  position: relative;
  right: 0px;
  left: 35px;
  top: 86%;
}


.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #1b1b1b;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #1b1b1b94;
}
.footer .fa-heart {
  color: #1b1b1b;
}


h3 {
  font-size: 14px;
  margin: 0px;
  font-family: 'lato';
  font-weight: 300,0;
}

h4 {
  font-size: 20px;
  font-weight: 700,0;
  font-family: "bigillaregular";
  letter-spacing: 1px;
  }
  h4:hover {
    color: #1b1b1b94;
}


/*---circle---------------------------------------------------------*/


.scroll-circle {
  color: #1b1b1b;
  position: fixed;
  right: 40px;
  bottom: 10px;
}

.arrow {
  color: #1b1b1b;
  position: fixed;
  right: 71px;
  bottom: 50px;
}


.rotate {
  animation: rotation 12s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.circle {
  display: flex;
  justify-content: flex-end;
}

/*----------------------------------------------------------*/

